html {
  --bg-color-light: #f1f1f1;
  --color-offblack: #18191a;
}

body {
  background-color: var(--bg-color-light);
  color: var(--color-offblack);
  overflow: auto;
}

.container {
  padding: 4rem 2rem;
}

.header {
  width: 100%;
  background-color: var(--bg-color-light);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid var(--color-offblack);
  z-index: 10;
}

.grid-nav {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content min-content min-content;
  /*
  Justifica os itens da navegação no centro da página
  justify-content: center;
  */
}

.index-main {
  max-width: 30rem;
  margin: 0 auto;
}

/* Classe que define a barra de navegação */
.barraNaveg {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

@media screen and (min-width: 600px) {
  .index-main {
    max-width: initial;
  }
  .index-flex-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
    width: 80%;
    max-width: 1000px;
    height: 240rem;
  }

  .index-flex-item {
    width: 32%;
    margin-bottom: 1rem; /* Optional */
  }

  /* Re-order items into 3 rows */
  .index-flex-item:nth-child(3n + 1) {
    order: 1;
  }
  .index-flex-item:nth-child(3n + 2) {
    order: 2;
  }
  .index-flex-item:nth-child(3n) {
    order: 3;
  }

  /* Force new columns */
  .index-flex-container::before,
  .index-flex-container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}
